*{
  margin: 0px;
  padding: 0px;
}

.app{
  object-fit: contain;
}

.app_modal{
  display: flex;
  flex-direction: column;
  padding: 60px;
}

.app_modal_button{
  position: relative;
  top: 10px;
  right: 10px;
}

.app_headerImage{
  object-fit: contain;  
  padding: 12px;
}

.app_header{
  display: flex;
  justify-content: space-between;
  background-color: rgb(240, 237, 235);
  box-shadow: 4px 0px 2px gray;
  margin-bottom: 10px;
}
.app_header_buttonContainer{
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  margin-right: 40px;
  max-height: 30px;
}

.app_header_signUp{
  position: relative;
  bottom: 18px;
  left: 100px;
}

.imageUpload{
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin-bottom: 40px;
}

.uploader{
  margin: 7px 0px;
  border: 1px solid #ccc;
  padding: 4px 10px;
  cursor: pointer;

}

.caption{
  padding: 7px;
  border: 2px solid rgb(128, 57, 57);
  border-radius: 3px;
}
.footer{
  margin-bottom: 80px;
}